/* colours */
/* link */
ul {
  padding: 0px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0px;
}

/* font */
h1,
h2,
h3,
p,
a,
nav,
span,
form,
input,
button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1,
h2 {
  font-size: 23px;
  font-weight: 700;
}

/* font size link footer and paragraph section 2 card */
.container-footer a,
.container-section-2__card__content p {
  font-size: 15px;
  font-weight: 350;
}

/* card/button/step - box shadow */
.container-section-2__card,
.container-section-1__main button,
.container-aside__step {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s;
}

.container-section-2__card:hover,
.container-aside__step:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* button - opacity - box shadow */
.container-section-1__main button:hover {
  opacity: 80%;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

/* padding container in main */
.container-aside,
.container-section-2 {
  padding: 40px 20px 60px 20px;
}

/* body */
body {
  margin: 0px;
  /* footer */
}
body .container-body {
  position: relative;
  max-width: 768px;
  margin: auto;
  border: solid white;
  border-top-width: thick;
  /* header */
  /* main */
}
body .container-body .container-header {
  width: 100%;
  display: flex;
  justify-content: center;
  /* header logo */
}
body .container-body .container-header #container-header__logo {
  margin: 10px;
  width: 150px;
  height: 30px;
}
body .container-body .container-main {
  width: 100%;
  /* section 1 */
  /* aside */
  /* section 2 */
}
body .container-body .container-main .container-section-1 {
  width: 100%;
  /* section 1 form*/
  /* section 1 main */
}
body .container-body .container-main .container-section-1 .container-section-1__form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 5px;
}
body .container-body .container-main .container-section-1 .container-section-1__form input {
  border-radius: 5px;
  border: none;
  padding: 0px 0px 0px 5px;
  background-color: #eaeaea;
  height: 45px;
  width: 135px;
}
body .container-body .container-main .container-section-1 .container-section-1__form input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  background-color: #eaeaea;
  color: #353535;
}
body .container-body .container-main .container-section-1 .container-section-1__form input::placeholder {
  font-size: 14px;
  font-weight: 500;
  background-color: #eaeaea;
  color: #353535;
}
body .container-body .container-main .container-section-1 .container-section-1__main {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
}
body .container-body .container-main .container-section-1 .container-section-1__main h1 {
  padding: 0px 20px;
}
body .container-body .container-main .container-section-1 .container-section-1__main p {
  font-size: 17px;
  font-weight: 350;
  margin: 15px 0px;
}
body .container-body .container-main .container-section-1 .container-section-1__main button {
  color: white;
  border: none;
  border-radius: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  margin-top: 12px;
  padding: 15px 20px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}
body .container-body .container-main .container-aside {
  display: grid;
  grid-template-rows: 40px 70px 70px 70px;
  grid-gap: 20px;
  /* aside step */
  /* aside step content */
}
body .container-body .container-main .container-aside .container-aside__step {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 100%;
}
body .container-body .container-main .container-aside .container-aside__step:hover {
  background-color: #f5edff;
}
body .container-body .container-main .container-aside .container-aside__step:hover .container-aside__step__content i {
  color: #9356DC;
}
body .container-body .container-main .container-aside .container-aside__step__content {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  left: 10px;
  width: 65%;
}
body .container-body .container-main .container-aside .container-aside__step__content h3,
body .container-body .container-main .container-aside .container-aside__step__content span {
  font-size: 15px;
  font-weight: 500;
}
body .container-body .container-main .container-aside .container-aside__step__content span {
  background-color: #9356DC;
  color: white;
  margin-right: 15px;
  padding: 2px 7px;
  border-radius: 50%;
}
body .container-body .container-main .container-aside .container-aside__step__content i {
  color: gray;
  margin-right: 15px;
}
body .container-body .container-main .container-section-2 {
  display: grid;
  grid-template-rows: 40px 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: #f7f7f7;
  /* section 2 card */
  /* section 2 card content */
}
body .container-body .container-main .container-section-2 .container-section-2__card {
  position: relative;
  border-radius: 20px;
  height: 100%;
}
body .container-body .container-main .container-section-2 .container-section-2__card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
body .container-body .container-main .container-section-2 .container-section-2__card__new {
  position: absolute;
  background-color: #99E2D0;
  padding: 6px 15px;
  top: 15px;
  right: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #367e68;
}
body .container-body .container-main .container-section-2 .container-section-2__card__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 18px;
}
body .container-body .container-main .container-section-2 .container-section-2__card__content h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
body .container-body .container-main .container-section-2 .container-section-2__card__content i {
  color: gray;
  font-size: 23px;
}
body footer {
  background-color: #353535;
  width: 100%;
}
body .container-footer {
  position: relative;
  max-width: 768px;
  margin: auto;
  padding: 20px;
  /* footer nav */
}
body .container-footer .container-footer h2,
body .container-footer a {
  color: white;
}
body .container-footer .container-footer__heading {
  font-family: "Shrikhand", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 15px;
}
body .container-footer .container-footer__nav a:hover {
  color: #FF79DA;
}
body .container-footer .container-footer__nav__link a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 5px;
}
body .container-footer .container-footer__nav__link i {
  font-size: 13px;
  width: 20px;
}/*# sourceMappingURL=style.css.map */