/* colours */
$pink : #FF79DA;
$light-pink : #f5edff;
$purple : #9356DC;
$light-green : #99E2D0;
$green : #367e68;
$gray : #eaeaea;
$light-gray : #f7f7f7;
$black : #353535;
$color-linear-gradient: linear-gradient(to bottom right, $pink, $purple);

/* link */
ul,
li {
    padding: 0px;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    /*chrome and safari */
    -moz-tap-highlight-color: transparent;
    /*firefox */
    -o-tap-highlight-color: transparent;
    /* opera */
    -ms-tap-highlight-color: transparent;
    /* internet explorer */
}

li {
    list-style: none;
}

/* font */
h1,
h2,
h3,
h4,
p,
a,
nav,
span,
form,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

h1,
h2 {
    font-size: 23px;
    font-weight: 700;
}

h3,
h4 {
    font-size: 16px;
    font-weight: 600;
}

.container-footer a,
p {
    font-size: 15px;
    font-weight: 350;
}

span {
    font-size: 15px;
    font-weight: 500;
}

button {
    font-size: 15px;
    font-weight: 400;
}

/* fade in animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {

    /* firefox */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {

    /* safari and chrome */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {

    /* opera */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {

    /* internet explorer */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* fade in animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {

    /* firefox */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {

    /* safari and chrome */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fade-in {

    /* opera */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fade-in {

    /* internet explorer */
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* fade in animation menus */
.container-section-3-menus__content__meal__title,
*.container-section-3-menus__content__meal__list {

    animation: fade-in 1s;
    -moz-animation: fade-in 1s;
    /* firefox */
    -webkit-animation: fade-in 1s;
    /* safari and chrome */
    -o-animation: fade-in 1s;
    /* opera */
    -ms-animation: fade-in 1s;
    /* internet explorer */
    animation-fill-mode: backwards;
}
/*fadein delay menus*/
$base-delay: 0.4s;
@for $i from 1 through 13 {
    .fadein-delay-#{$i}{
        animation-delay: $base-delay + ($i / 5);
    }
}

/* animation card/button/meal */
.container-section-2__card,
button,
.container-section-3-menus__content__meal__list {

    transform: scale(1);
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.025);
    }
}

/* animation fade-in body welcome */

.fadein-body :not(.spiner-loader, .spiner-loader__spin, .spiner-loader__icon, .spiner-loader__icon__one, .spiner-loader__icon__two, .spiner-loader__icon__three) {
    animation: fade-in 4s ease-out, visibility-body 3s;
}

@keyframes visibility-body {
    0% {
        pointer-events: none;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        pointer-events: none;
    }
}

@-webkit-keyframes visibility-body {

    /*chrome and safari */
    0% {
        pointer-events: none;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        pointer-events: none;
    }
}

@-moz-keyframes visibility-body {

    /* Firefox */
    0% {
        pointer-events: none;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        pointer-events: none;
    }
}

@-o-keyframes visibility-body {

    /* opera */
    0% {
        pointer-events: none;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        pointer-events: none;
    }
}

@-ms-keyframes visibility-body {

    /* internet explorer */
    0% {
        pointer-events: none;
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        pointer-events: none;
    }
}

/* animation spiner loader */
.spiner-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__spin {
        position: absolute;
        width: 125px;
        height: 125px;
        border-radius: 50%;
        animation: rotate 1s 3 linear;

        &::before,
        &::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #9356DC;
            animation: prixClipFix 3s linear forwards;

        }

        &::after {
            border-color: #FF79DA;
            animation: prixClipFix 3s linear forwards, rotate 0.5s 6 linear reverse;
            inset: 6px;
        }

    }

    &__icon {
        position: absolute;
        width: 125px;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;

        &__one,
        &__two,
        &__three {
            font-size: 50px;
            color: white;
            color: transparent;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            background-clip: text;
            -webkit-background-clip: text;
            /*chrome and safari */
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            /* firefox */
            -moz-text-fill-color: transparent;
            -o-background-clip: text;
            /* opera */
            -o-text-fill-color: transparent;
            -ms-background-clip: text;
            /* internet explorer */
            -ms-text-fill-color: transparent;

        }

        &__one {
            animation: opacity1 1.5s linear 2 forwards;
        }

        &__two {
            animation: opacity2 1.5s linear 2 forwards;
        }

        &__three {
            animation: opacity3 1.5s linear 2 forwards;
        }

    }


}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes rotate {

    /* chrome and safari */
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {

    /* firefox */
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-o-keyframes rotate {

    /* opera */
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-ms-keyframes rotate {

    /* internet explorer */
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    99.9% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }

    100% {
        visibility: hidden;
        ;
    }
}

@-webkit-keyframes prixClipFix {

    /* chrome and safari */
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    99.9% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }

    100% {
        visibility: hidden;
        ;
    }
}

@-moz-keyframes prixClipFix {

    /* firefox */
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    99.9% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }

    100% {
        visibility: hidden;
        ;
    }
}

@-o-keyframes prixClipFix {

    /* opera */
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    99.9% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }

    100% {
        visibility: hidden;
        ;
    }
}

@-ms-keyframes prixClipFix {

    /* internet explorer */
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    99.9% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }

    100% {
        visibility: hidden;
        ;
    }
}

@keyframes opacity1 {

    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@-webkit-keyframes opacity1 {
    /* chrome and safari */

    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@-moz-keyframes opacity1 {
    /* firefox */

    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@-o-keyframes opacity1 {
    /* opera */

    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@-ms-keyframes opacity1 {
    /* internet explorer */

    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }

}

@keyframes opacity2 {


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes opacity2 {
    /* chrome and safari */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes opacity2 {
    /* firefox */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-o-keyframes opacity2 {
    /* opera */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-ms-keyframes opacity2 {
    /* internet explorer */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes opacity3 {


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    99.9% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes opacity3 {
    /* chrome and safari */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    99.9% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes opacity3 {
    /* firefox */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    99.9% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-o-keyframes opacity3 {
    /* opera */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    99.9% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-ms-keyframes opacity3 {
    /* internet explorer */


    0% {
        opacity: 0;
    }

    33% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    99.9% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* animation icon heart */
.heart {
    position: relative;
    color: gray;
    font-size: 23px;
    width: 23px;
    height: 23px;


    &::before {
        position: absolute;
        content: "\f004";
        font-weight: bold;
        font-family: "Font Awesome 6 Free";
        font-size: 23px;
        opacity: 0;
        height: 100%;
        width: 100%;

        left: 0;
    }

    &:hover,
    &::before {

        color: transparent;
        background-image: $color-linear-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        /*chrome and safari */
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        /* firefox */
        -moz-text-fill-color: transparent;
        -o-background-clip: text;
        /* opera */
        -o-text-fill-color: transparent;
        -ms-background-clip: text;
        /* internet explorer */
        -ms-text-fill-color: transparent;

    }

    &:hover::before {
        animation: fade-in 0.8s forwards;
    }

}

/* animation green check */
.container-section-3-menus__content__meal__list {

    overflow: hidden;

    &::before,
    &::after {
        position: absolute;
        border-radius: 0px 15px 15px 0px;
        height: 100%;
        width: 20%;
        right: -20%;
        bottom: 0px;
        transition: all 0.5s;
    }

    &::before {
        content: "";
        background-color: $light-green;
        z-index: 1;

    }

    &::after {
        display: flex;
        justify-content: center;
        align-items: center;
        content: "\f058";
        font-weight: bold;
        font-family: "Font Awesome 6 Free";
        font-size: 25px;
        color: white;
        z-index: 2;
    }

    &:hover {

        span {
            transition: all 0.5s;
            padding-right: 20%;
        }


        &::before,
        &::after {
            right: 0%;

        }

        &::after {
            transform: rotate(360deg);
        }
    }
}

/* card/button/step/meal - box shadow */
.container-section-2__card,
.container-aside__step,
button,
.container-section-3-menus__content__meal__list {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &:hover {
        box-shadow: 0 5px 8px rgb(0 0 0 / 40%);
    }
}

/* button - opacity */
button:hover {
    opacity: 0.8;
}

/* padding container in main */
.container-aside,
.container-section-2 {
    padding: 40px 20px 60px 20px;
}

/* body */
body {
    margin: 0px;
}

.container-body {
    position: relative;
    margin: auto;
    border-top: solid white;
    border-top-width: thick;
}

/* header - welcome and menus*/
.container-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 20px;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        #container-header__logo {
            margin: 10px;
            width: 150px;
            height: 30px;

        }

    }

    a {
        i {
            font-size: 23px;
            transform: scale(1);
            transition: transform 0.2s;

            &:hover {
                transform: scale(1.15);
            }
        }
    }

}

/* main */
.container-main {
    position: relative;
    width: 100%;
}

/* section 1 - welcome */

.container-section-1 {
    position: relative;
    width: 100%;

    /* section 1 form*/
    &__form {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        background-color: $gray;
        padding: 5px;

        i {
            padding-right: 5px;
        }

        input {
            border-radius: 5px;
            border: none;
            padding: 0px 0px 0px 5px;
            background-color: $gray;
            height: 45px;
            width: 135px;

            &::placeholder {
                font-size: 14px;
                font-weight: 500;
                color: $black;
            }

            &:focus {
                background-color: $light-pink;
            }
        }
    }

    /* section 1 main */
    &__main {
        padding: 40px;
        background-color: $light-gray;
        text-align: center;

        h1 {
            padding: 0px 20px;
        }

        p {
            font-size: 17px;
            font-weight: 350;
            margin: 15px 0px;

        }

        button {
            color: white;
            border: none;
            border-radius: 25px;
            text-align: center;
            margin-top: 12px;
            padding: 15px 20px;
            background-image: $color-linear-gradient;

        }

    }

}

.container-aside {
    position: relative;
    display: grid;
    grid-template-rows: 40px 70px 70px 70px;
    grid-gap: 20px;

    /* aside step */
    &__step {
        display: flex;
        align-items: center;
        border-radius: 20px;
        background-color: $light-gray;
        width: 100%;

        &:hover {
            background-color: $light-pink;

            i {
                color: $purple;
            }
        }

        /* aside step content */
        &__content {
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            left: 10px;
            width: 65%;

            span {
                background-color: $purple;
                color: white;
                margin-right: 15px;
                padding: 2px 7px;
                border-radius: 50%;

            }

            i {
                color: gray;
                margin-right: 15px;
            }
        }
    }
}

/* section 2 - welcome and menus*/
.container-section-2 {
    position: relative;
    background-color: $light-gray;


    /* section 2 card */
    &__card {
        position: relative;
        border-radius: 20px;
        height: 100%;

        &__image {
            object-fit: cover;
            width: 100%;
            height: 150px;
            border-radius: 20px 20px 0px 0px;

        }

        &__new {
            position: absolute;
            background-color: $light-green;
            padding: 6px 15px;
            top: 15px;
            right: 15px;
            font-size: 13px;
            font-weight: 700;
            color: $green;

        }

        &__content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 18px;

        }
    }
}

/*section menus */
.container-section-3-menus {
    position: relative;

    &__empty {
        height: 175px;

        &__image {
            position: absolute;
            width: 100%;
            height: 200px;
            -o-object-fit: cover;
            object-fit: cover;
            z-index: 0;
            top: 0;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        grid-gap: 20px;
        border-radius: 35px 35px 0 0;
        padding: 40px 20px;
        z-index: 1;
        background-color: $light-gray;

        &__title {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-family: 'Shrikhand', sans-serif;
                font-style: normal;
            }
        }

        &__meal {
            display: grid;
            gap: 15px;
            margin-top: 15px;

            &__title {
                h3 {
                    font-weight: 400;
                    line-height: 30px;
                    text-transform: uppercase;
                    border-bottom: 3px solid $light-green;
                    width: 40px;
                }
            }

            &__list {
                position: relative;
                background-color: white;
                border-radius: 15px;
                padding: 15px;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;


                div {

                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    h4,
                    p {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                }

                span {
                    display: flex;
                    align-items: flex-end;
                    white-space: nowrap;
                    padding-left: 10px;
                }

            }

        }

        &__button {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            button {

                color: white;
                border: none;
                border-radius: 25px;
                padding: 15px 45px;
                background-image: $color-linear-gradient;
                width: max-content;
            }

        }
    }

}

/* footer - welcome and menus */
footer {
    background-color: $black;
    width: 100%;

}

.container-footer {
    position: relative;
    margin: auto;
    padding: 20px 20px 20px 20px;

    h2,
    a {
        color: white;
    }

    &__heading {
        font-family: 'Shrikhand', sans-serif;
        font-style: normal;
        font-size: 17px;
        font-weight: 400;
        line-height: 15px;

    }

    &__nav {
        a {

            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            grid-gap: 10px;
            margin-bottom: 5px;

            &:hover {
                color: $pink;
            }

        }

        &__link {
            i {
                font-size: 13px;
                width: 10px;
            }
        }

    }


}

/*mobile version */

@media screen and (max-width : 767px) {

    /*spiner loader*/
    .spiner-loader {
        max-width: 768px;
    }

    /* body */
    .container-body {
        max-width: 768px;
    }

    /* section 2 - welcome and menus*/
    .container-section-2 {
        display: grid;
        grid-template-rows: 40px 1fr 1fr 1fr;
        grid-gap: 20px;

    }

    /*section menus */
    .container-section-3-menus {

        &__content {

            &__meal {
                grid-template-rows: 30px 1fr 1fr 1fr;

                &__list {

                    div {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                    }

                }
            }
        }
    }

    /* footer - welcome and menus */
    .container-footer {
        max-width: 768px;
    }

}

/*tablet version */

@media screen and (min-width:768px) and (max-width:1023px) {

    /*spiner loader*/
    .spiner-loader {
        max-width: 1024px;
    }

    /* body */
    .container-body {
        max-width: 1024px;
    }

    /* main */
    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    /* section 1 - welcome */

    .container-section-1 {
        padding-top: 40px;
    }

    /* aside - welcome */
    .container-aside {
        grid-gap: 13px;
    }

    /* section 2 - welcome and menus*/
    .grid-section-2 {
        grid-column: 1 / 3;
    }

    .container-section-2 {
        display: grid;
        grid-template-rows: 40px 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        h2 {
            grid-column: 1 / 3;
        }
    }

    /*section menus */
    .container-section-3-menus {

        &__empty {
            height: 275px;
    
            &__image {
                height: 300px;
            }
        }
        &__content {

            &__meal {

                grid-template-rows: 30px 1fr 1fr 1fr;

                &__list {

                    div {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;

                        h4 {
                            margin-right: 20px;
                        }

                    }

                }
            }
        }

    }

    /* footer - welcome and menus */
    .container-footer {
        max-width: 1024px;
    }

}

/*desktop version */

@media screen and (min-width:1024px) {

    /*spiner loader*/
    .spiner-loader {
        max-width: 1440px;
    }

    /* body */
    .container-body {
        max-width: 1440px;
    }

    /* main */
    main{
        min-height: 100vh;
    }
    .container-main {
        display: grid;
        grid-template-columns: 36% 1fr;
        gap: 20px;

    }

    /* section 2 - welcome and menus*/
    .grid-section-2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .container-section-2 {
        display: grid;
        grid-template-rows: 40px 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        h2 {
            grid-column: 1 / 3;
        }
    }

    /*section menus */
    .container-section-3-menus {
        min-height: 100vh;

        &__empty {
            height: 375px;
    
            &__image {
               height: 400px;
            }
        }
        &__content {

            &__meal {

                grid-template-columns: 80px 1fr 1fr 1fr;

                &__title {
                    display: flex;
                    align-items: center;
                    grid-row: 1/3;
                }

                &__list {

                    div {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;

                    }

                }
            }
        }

    }

    /* footer - welcome and menus */

    .container-footer {
        max-width: 1440px;
    }
}