/* colours */
/* link */
ul,
li {
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  /*chrome and safari */
  -moz-tap-highlight-color: transparent;
  /*firefox */
  -o-tap-highlight-color: transparent;
  /* opera */
  -ms-tap-highlight-color: transparent;
  /* internet explorer */
}

li {
  list-style: none;
}

/* font */
h1,
h2,
h3,
h4,
p,
a,
nav,
span,
form,
input,
button {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #353535;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

h1,
h2 {
  font-size: 23px;
  font-weight: 700;
}

h3,
h4 {
  font-size: 16px;
  font-weight: 600;
}

.container-footer a,
p {
  font-size: 15px;
  font-weight: 350;
}

span {
  font-size: 15px;
  font-weight: 500;
}

button {
  font-size: 15px;
  font-weight: 400;
}

/* fade in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fade in animation */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* fade in animation menus */
.container-section-3-menus__content__meal__title,
*.container-section-3-menus__content__meal__list {
  animation: fade-in 1s;
  -moz-animation: fade-in 1s;
  /* firefox */
  -webkit-animation: fade-in 1s;
  /* safari and chrome */
  -o-animation: fade-in 1s;
  /* opera */
  -ms-animation: fade-in 1s;
  /* internet explorer */
  animation-fill-mode: backwards;
}

/*fadein delay menus*/
.fadein-delay-1 {
  animation-delay: 0.6s;
}

.fadein-delay-2 {
  animation-delay: 0.8s;
}

.fadein-delay-3 {
  animation-delay: 1s;
}

.fadein-delay-4 {
  animation-delay: 1.2s;
}

.fadein-delay-5 {
  animation-delay: 1.4s;
}

.fadein-delay-6 {
  animation-delay: 1.6s;
}

.fadein-delay-7 {
  animation-delay: 1.8s;
}

.fadein-delay-8 {
  animation-delay: 2s;
}

.fadein-delay-9 {
  animation-delay: 2.2s;
}

.fadein-delay-10 {
  animation-delay: 2.4s;
}

.fadein-delay-11 {
  animation-delay: 2.6s;
}

.fadein-delay-12 {
  animation-delay: 2.8s;
}

.fadein-delay-13 {
  animation-delay: 3s;
}

/* animation card/button/meal */
.container-section-2__card,
button,
.container-section-3-menus__content__meal__list {
  transform: scale(1);
  transition: transform 0.5s;
}
.container-section-2__card:hover,
button:hover,
.container-section-3-menus__content__meal__list:hover {
  transform: scale(1.025);
}

/* animation fade-in body homepage */
.fadein-body :not(.spiner-loader, .spiner-loader__spin, .spiner-loader__icon, .spiner-loader__icon__one, .spiner-loader__icon__two, .spiner-loader__icon__three) {
  animation: fade-in 4s ease-out, visibility-body 3s;
}

@keyframes visibility-body {
  0% {
    pointer-events: none;
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    pointer-events: none;
  }
}
/* animation spiner loader */
.spiner-loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spiner-loader__spin {
  position: absolute;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  animation: rotate 1s 3 linear;
}
.spiner-loader__spin::before, .spiner-loader__spin::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #9356DC;
  animation: prixClipFix 3s linear forwards;
}
.spiner-loader__spin::after {
  border-color: #FF79DA;
  animation: prixClipFix 3s linear forwards, rotate 0.5s 6 linear reverse;
  inset: 6px;
}
.spiner-loader__icon {
  position: absolute;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spiner-loader__icon__one, .spiner-loader__icon__two, .spiner-loader__icon__three {
  font-size: 50px;
  color: white;
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  /*chrome and safari */
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  /* firefox */
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  /* opera */
  -o-text-fill-color: transparent;
  -ms-background-clip: text;
  /* internet explorer */
  -ms-text-fill-color: transparent;
}
.spiner-loader__icon__one {
  animation: opacity1 1.5s linear 2 forwards;
}
.spiner-loader__icon__two {
  animation: opacity2 1.5s linear 2 forwards;
}
.spiner-loader__icon__three {
  animation: opacity3 1.5s linear 2 forwards;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  99.9% {
    -webkit-clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
  100% {
    visibility: hidden;
  }
}
@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes opacity3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* animation icon heart */
.heart {
  position: relative;
  color: gray;
  font-size: 23px;
  width: 23px;
  height: 23px;
}
.heart::before {
  position: absolute;
  content: "\f004";
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
  font-size: 23px;
  opacity: 0;
  height: 100%;
  width: 100%;
  left: 0;
}
.heart:hover, .heart::before {
  color: transparent;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  /*chrome and safari */
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  /* firefox */
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  /* opera */
  -o-text-fill-color: transparent;
  -ms-background-clip: text;
  /* internet explorer */
  -ms-text-fill-color: transparent;
}
.heart:hover::before {
  animation: fade-in 0.8s forwards;
}

/* animation green check */
.container-section-3-menus__content__meal__list {
  overflow: hidden;
}
.container-section-3-menus__content__meal__list::before, .container-section-3-menus__content__meal__list::after {
  position: absolute;
  border-radius: 0px 15px 15px 0px;
  height: 100%;
  width: 20%;
  right: -20%;
  bottom: 0px;
  transition: all 0.5s;
}
.container-section-3-menus__content__meal__list::before {
  content: "";
  background-color: #99E2D0;
  z-index: 1;
}
.container-section-3-menus__content__meal__list::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "\f058";
  font-weight: bold;
  font-family: "Font Awesome 6 Free";
  font-size: 25px;
  color: white;
  z-index: 2;
}
.container-section-3-menus__content__meal__list:hover span {
  transition: all 0.5s;
  padding-right: 20%;
}
.container-section-3-menus__content__meal__list:hover::before, .container-section-3-menus__content__meal__list:hover::after {
  right: 0%;
}
.container-section-3-menus__content__meal__list:hover::after {
  transform: rotate(360deg);
}

/* card/button/step/meal - box shadow */
.container-section-2__card,
.container-aside__step,
button,
.container-section-3-menus__content__meal__list {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-section-2__card:hover,
.container-aside__step:hover,
button:hover,
.container-section-3-menus__content__meal__list:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}

/* button - opacity */
button:hover {
  opacity: 0.8;
}

/* padding container in main */
.container-aside,
.container-section-2 {
  padding: 40px 20px 60px 20px;
}

/* body */
body {
  margin: 0px;
}

.container-body {
  position: relative;
  margin: auto;
  border-top: solid white;
  border-top-width: thick;
}

/* header - homepage and menus*/
.container-header {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0px 20px;
}
.container-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-header__logo #container-header__logo {
  margin: 10px;
  width: 150px;
  height: 30px;
}
.container-header a i {
  font-size: 23px;
  transform: scale(1);
  transition: transform 0.2s;
}
.container-header a i:hover {
  transform: scale(1.15);
}

/* main */
.container-main {
  position: relative;
  width: 100%;
}

/* section 1 - homepage */
.container-section-1 {
  position: relative;
  width: 100%;
  /* section 1 form*/
  /* section 1 main */
}
.container-section-1__form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 5px;
}
.container-section-1__form i {
  padding-right: 5px;
}
.container-section-1__form input {
  border-radius: 5px;
  border: none;
  padding: 0px 0px 0px 5px;
  background-color: #eaeaea;
  height: 45px;
  width: 135px;
}
.container-section-1__form input::-moz-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #353535;
}
.container-section-1__form input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #353535;
}
.container-section-1__form input:focus {
  background-color: #f5edff;
}
.container-section-1__main {
  padding: 40px;
  background-color: #f7f7f7;
  text-align: center;
}
.container-section-1__main h1 {
  padding: 0px 20px;
}
.container-section-1__main p {
  font-size: 17px;
  font-weight: 350;
  margin: 15px 0px;
}
.container-section-1__main button {
  color: white;
  border: none;
  border-radius: 25px;
  text-align: center;
  margin-top: 12px;
  padding: 15px 20px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.container-aside {
  position: relative;
  display: grid;
  grid-template-rows: 40px 70px 70px 70px;
  grid-gap: 20px;
  /* aside step */
}
.container-aside__step {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #f7f7f7;
  width: 100%;
  /* aside step content */
}
.container-aside__step:hover {
  background-color: #f5edff;
}
.container-aside__step:hover i {
  color: #9356DC;
}
.container-aside__step__content {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  left: 10px;
  width: 65%;
}
.container-aside__step__content span {
  background-color: #9356DC;
  color: white;
  margin-right: 15px;
  padding: 2px 7px;
  border-radius: 50%;
}
.container-aside__step__content i {
  color: gray;
  margin-right: 15px;
}

/* section 2 - homepage and menus*/
.container-section-2 {
  position: relative;
  background-color: #f7f7f7;
  /* section 2 card */
}
.container-section-2__card {
  position: relative;
  border-radius: 20px;
  height: 100%;
}
.container-section-2__card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
}
.container-section-2__card__new {
  position: absolute;
  background-color: #99E2D0;
  padding: 6px 15px;
  top: 15px;
  right: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #367e68;
}
.container-section-2__card__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 18px;
}

/*section menus */
.container-section-3-menus {
  position: relative;
}
.container-section-3-menus__empty {
  height: 175px;
}
.container-section-3-menus__empty__image {
  position: absolute;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
  top: 0;
}
.container-section-3-menus__content {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  border-radius: 35px 35px 0 0;
  padding: 40px 20px;
  z-index: 1;
  background-color: #f7f7f7;
}
.container-section-3-menus__content__title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.container-section-3-menus__content__title h2 {
  font-family: "Shrikhand", sans-serif;
  font-style: normal;
}
.container-section-3-menus__content__meal {
  display: grid;
  gap: 15px;
  margin-top: 15px;
}
.container-section-3-menus__content__meal__title h3 {
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}
.container-section-3-menus__content__meal__list {
  position: relative;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.container-section-3-menus__content__meal__list div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-section-3-menus__content__meal__list div h4,
.container-section-3-menus__content__meal__list div p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-section-3-menus__content__meal__list span {
  display: flex;
  align-items: flex-end;
  white-space: nowrap;
  padding-left: 10px;
}
.container-section-3-menus__content__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container-section-3-menus__content__button button {
  color: white;
  border: none;
  border-radius: 25px;
  padding: 15px 45px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: -moz-max-content;
  width: max-content;
}

/* footer - homepage and menus */
footer {
  background-color: #353535;
  width: 100%;
}

.container-footer {
  position: relative;
  margin: auto;
  padding: 20px 20px 20px 20px;
}
.container-footer h2,
.container-footer a {
  color: white;
}
.container-footer__heading {
  font-family: "Shrikhand", sans-serif;
  font-style: normal;
  font-size: 17px;
  font-weight: 400;
  line-height: 15px;
}
.container-footer__nav a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 10px;
  margin-bottom: 5px;
}
.container-footer__nav a:hover {
  color: #FF79DA;
}
.container-footer__nav__link i {
  font-size: 13px;
  width: 10px;
}

/*mobile version */
@media screen and (max-width: 767px) {
  /*spiner loader*/
  .spiner-loader {
    max-width: 768px;
  }
  /* body */
  .container-body {
    max-width: 768px;
  }
  /* section 2 - homepage and menus*/
  .container-section-2 {
    display: grid;
    grid-template-rows: 40px 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  /*section menus */
  .container-section-3-menus__content__meal {
    grid-template-rows: 30px 1fr 1fr 1fr;
  }
  .container-section-3-menus__content__meal__list div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* footer - homepage and menus */
  .container-footer {
    max-width: 768px;
  }
}
/*tablet version */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*spiner loader*/
  .spiner-loader {
    max-width: 1024px;
  }
  /* body */
  .container-body {
    max-width: 1024px;
  }
  /* main */
  main {
    min-height: 100vh;
  }
  .container-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* section 1 - homepage */
  .container-section-1 {
    padding-top: 40px;
  }
  /* aside - homepage */
  .container-aside {
    grid-gap: 13px;
  }
  /* section 2 - homepage and menus*/
  .grid-section-2 {
    grid-column: 1/3;
  }
  .container-section-2 {
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .container-section-2 h2 {
    grid-column: 1/3;
  }
  /*section menus */
  .container-section-3-menus {
    min-height: 100vh;
  }
  .container-section-3-menus__empty {
    height: 275px;
  }
  .container-section-3-menus__empty__image {
    height: 300px;
  }
  .container-section-3-menus__content__meal {
    grid-template-rows: 30px 1fr 1fr 1fr;
  }
  .container-section-3-menus__content__meal__list div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .container-section-3-menus__content__meal__list div h4 {
    margin-right: 20px;
  }
  /* footer - homepage and menus */
  .container-footer {
    max-width: 1024px;
  }
}
/*desktop version */
@media screen and (min-width: 1024px) {
  /*spiner loader*/
  .spiner-loader {
    max-width: 1440px;
  }
  /* body */
  .container-body {
    max-width: 1440px;
  }
  /* main */
  main {
    min-height: 100vh;
  }
  /* aside */
  .container-aside {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 70px;
    padding-left: 125px;
    padding-right: 125px;
  }
  .container-aside h2 {
    grid-column: 1/4;
  }
  .container-aside__step__content {
    left: -10px;
    width: 100%;
  }
  /* section 2 - homepage and menus*/
  .container-section-2 {
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-left: 125px;
    padding-right: 125px;
  }
  .container-section-2 h2 {
    grid-column: 1/3;
  }
  /*section menus */
  .container-section-3-menus {
    min-height: 100vh;
  }
  .container-section-3-menus__empty {
    height: 375px;
  }
  .container-section-3-menus__empty__image {
    height: 400px;
  }
  .container-section-3-menus__content__meal {
    grid-template-columns: 80px 1fr 1fr 1fr;
  }
  .container-section-3-menus__content__meal__title {
    display: flex;
    align-items: center;
    grid-row: 1/3;
  }
  .container-section-3-menus__content__meal__list div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* footer - homepage and menus */
  .container-footer {
    max-width: 1440px;
    padding-left: 125px;
  }
}/*# sourceMappingURL=style.css.map */