/* color */
.color1 {
    color: #9356DC
}

.color2 {
    color: #FF79DA
}

.color3 {
    color: #99E2D0;

}

/* link */
a {
    text-decoration: none
}

li {
    list-style: none;
    padding: 0px;
}

/* font */
h1,
h2,
h3,
p,
a,
nav,
form,
input,
button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

/* body */
body {
    margin: 0px;
}

.container-body {
    position: relative;
    max-width: 768px;
    margin: auto;
    border: solid white;
    border-top-width: thick;
}

/* header */
.container-header {
    width: 100%;
    display: flex;
    justify-content: center;

}

.container-header img {
    margin: 10px;
    width: 150px;
    height: 30px;

}
/* main */
.container-main{
   width: 100%;
   
}
/* section 1*/
.container-section-1{
  
}
.location-section-1{
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 5px;
}
.location-section-1 input{
    border-radius: 5px;
    border: none;
    padding: 0px;
    padding-left: 5px;
    background-color: #eaeaea;
    height: 45px;
    width: 135px;
}
.location-section-1 input::placeholder{
    font-size: 14px;
    font-weight: 500;
    background-color: #eaeaea;
    color: #353535;
}
.title-section-1{
    padding: 40px;
    background-color: #f7f7f7;
    text-align: center;
}
.title-section-1 h1{
    font-size: 23px;
    font-weight: 700;
    margin-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}
.title-section-1 p{
    font-size: 17px;
    font-weight: 350;

}
.title-section-1 button{
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    margin-top: 12px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}
.title-section-1 button:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
/* footer */
footer {
    background-color: #353535;
    width: 100%;

}

.container-footer {
        padding: 20px;
}

.container-footer h1 {
    font-family: 'Shrikhand', sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 0px;
}
.container-footer ul {
    padding: 0px;
}

.container-footer a {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-gap: 10px;
    font-size: 15px;
    font-weight: 350;

}
.container-footer i{
    font-size: 13px;
    width: 10px;
}
.container-footer h1,
a {
    color: white;

}